:root {
  --c-bk1: #181818;
  --c-bk2: #1f1f1f;
  --c-bk3: #242424;
  --c-border: #454545;
  --c-hr: #2b2b2b;
  --c-text: #fffe;
  --c-text2: #bbb;
  --c-accent: #1967d2;
  --c-red: #800000;
  --c-red2: #8f4545;
}

:root {
  color-scheme: dark;
  line-height: 1.5;
  font-weight: 400;
  color: var(--c-text);
  background-color: var(--c-bk1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  user-select: none;
}

:root,
input,
select,
button,
textarea {
  font-family: "HarmonyOS Sans SC", sans-serif;
}

pre,
input[type="text"],
input[type="number"] {
  font-family: "Jetbrains Mono", monospace;
}

* {
  outline: none;
}

@font-face {
  font-family: "KaTeX-Italic";
  src: url("/fonts/KaTeX_Main-Italic.woff2");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "KaTeX";
  src: url("/fonts/KaTeX_Main-Widesign.woff2");
}

.styled::part(input),
.styled {
  font-family: "KaTeX-Italic", "KaTeX", "Times new roman";
  font-size: 22px;
}
