:root {
  --c-bk1: #181818;
  --c-bk2: #1f1f1f;
  --c-bk3: #242424;
  --c-border: #454545;
  --c-hr: #2b2b2b;
  --c-text: #fffe;
  --c-accent: #1967d2;
  --c-red: #800000;
}

:root {
  color-scheme: dark;
  line-height: 1.5;
  font-weight: 400;

  color: var(--c-text);
  background-color: var(--c-bk1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
input,
pre {
  font-family: "JetBrains Mono", "Sarasa Term SC", Consolas, "Courier New",
    Courier, monospace;
}

* {
  outline: none;
}
